* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-weather {
  font-family: "Merriweather", serif;
  /* background-image: url(../src/assets/image/bg-simp.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
